IPython
PyQt5 >= 5.9
configparser
decorator
future
ipykernel
keithley2600 >= 1.2.1
keithleygui >= 1.1.2
lmfit
matplotlib >= 2.0
markdown2
mercurygui
mercuryitc >= 0.2.0
numpy
pygments
PySignal
pyvisa >= 1.9.0
pyvisa-py >= 0.3.1
pyqtgraph_cx
qtpy
qtconsole
scipy