IPython
PyQt5 >= 5.9
configparser
decorator
future
ipykernel
keithley2600 >= 1.0.0
keithleygui >= 1.0.0
lmfit
matplotlib >= 2.0
mercurygui
mercuryitc >= 0.2.0
numpy
pygments
pyvisa >= 1.9.0
pyvisa-py >= 0.3.1
qtpy
qtconsole
scipy