
:root {
    --color-primary: rgb(224, 10, 52);
    --color-secondary: #1e254a;
}

.wy-side-nav-search, .wy-nav-top {
    background: var(--color-secondary);
}

.wy-nav-side {
    background: var(--color-secondary);
    color: white;

.wy-side-nav-search input[type=text] {
    border-color: #202448;
    background: var(--color-secondary);
    color: white;
}

.bg-dark {
    background-color: var(--gammapy-secondary) !important;
    /* TODO: Make navbar text brighter! */
    color: white;
}

body {
    color: var(--gammapy-secondary);
    font-family: 'Fira Sans', sans-serif;
}

main {
    padding-top: 7rem;
    margin-bottom: 0;
}

a {
    color: var(--gammapy-primary);
}


.btn-outline-primary {
    background-color: white;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}
