.wy-side-nav-search, .wy-nav-top {
  background: #511D43;
}
/* Sidebar search field */
.wy-side-nav-search input[type=text] {
    border-color: #3e0e2a
}
/* Sidebar */
.wy-nav-side {
  background: #41474e;
}

.wy-nav-content {
   max-width: 800 px
}
